
@{
    ViewBag.Title = "Order is processing...";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="text-md-center">

        <h4 class="text-dark text-danger">We are currently experiencing shipping delays so please be patient as we put the health of our customers and staff first.</h4>
    </div>
